html {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    color: #dfdfdf;
    background: #001220;
}

.git {
    text-align: center;
    vertical-align: middle;
}

.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(0, 107, 201);
    transition: color 0.2s ease-out;
}

.link:hover {
    color: rgb(0, 96, 180);
}

.link::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 96, 180);
    transition: width 0.2s ease-out;
}

.link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

.link-slow {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(0, 107, 201);
    transition: color 0.2s ease-out;
}

.link-slow:hover {
    color: rgb(0, 96, 180);
}

.link-slow::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 96, 180);
    transition: width 0.6s ease-out;
}

.link-slow:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}